@{
    ViewBag.Title = "Digify - Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Contact Us</h1>
            <div class="vcard">
                <p>
                    For further information please call Digify at 940-455-2934 or e-mail us: 
                    <a href="mailto:mark@digifysales.com">mark@digifysales.com</a>.
                </p>
                <p>
                    Digify is based in Lantana, Texas just 30 minutes north from Dallas.
                </p>
                <p>
                    Mailing address:<br />
                    P.O Box 271331<br />
                    Flower Mound, TX 75027
                </p>                
            </div>
        </div>
    </div>
</div>
