@{
    ViewBag.Title = "Digify - Hardware Recommendations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Hardware Recommendations</h1>
            <p>
                If you would like to Aurora software to run off the GPU it requires:</p>
            <ul>
                <li>The NVIDIA Tesla™ C2050 and C2070 Computing Processors fuel the transition to parallel
                    computing and bring the performance of a small cluster to the desktop.</li>
                <li>Currently you need to buy this product from 
                <a href="http://www.nvidia.com/object/personal-supercomputing.html">NVIDIA</a></li>
                <li>NVIDIA<sup>&reg;</sup> Tesla&trade; 20-series GPU computing processors turn standard
                    PCs and workstations into personal supercomputers. Based on the NVIDIA CUDA™ GPU
                    architecture codenamed "Fermi", Tesla 20-series GPUs feature more than 500 gigaflops
                    of double precision performance, 1 teraflop of single precision performance, ECC
                    memory error protection, and L1 and L2 caches. Tesla 20-series GPGPU processors
                    for workstations deliver cluster level performance right at your desk.</li>
            </ul>
            <h1>
                Servers Recommendations
            </h1>
            <p>
                <a href="http://www.dell.com/us/business/p/poweredge-r710/pd?refid=server-poweredge-r710&ST=dell%20PowerEdge%20r710&dgc=ST&cid=57664&lid=1474496&acd=sWtRaNwqO,10255501075,901qz26673">Dell 
                Poweredge R710</a> or better</p>
            <p>
                <a href="http://h10010.www1.hp.com/wwpc/us/en/sm/WF25a/15351-15351-3328412-241644-241475-3884082.html">HP-DL380</a> 
                or better</p>
            <ul>
                <li>Intel Xeon 55xx processor or better (at least one core per VU) V hyperthreading
                    disabled (Xeon 56xx preferred)</li>
                <li>Windows Server 2008 R2 operating system (no third-party anti-virus or firewall installed
                    unless tested by Supplier to specifically not interfere with Software operation)</li>
                <li>2GB of memory for operating system plus additional 1GB of memory per VU</li>
                <li>80GB of local hard drive space, recommended 10,000 RPM, preferred 15,000 RPM or
                    SSD</li>
                <li>Gigabit Ethernet or faster</li>
                <li>1 available USB port for IRT MXF Analyzer option dongle</li>
            </ul>
        </div>
    </div>
</div>
