@{
    ViewBag.Title = "Digify - Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Support</h1>
            <p>
                Support comes from:</p>
        </div>
        <div class="hr1">
            &nbsp;</div>
        <div class="two-columns">
            <div id="box2" class="column1">
                <h2>
                    Digimetrics</h2>
                <p>
                    1515 East Pine<br />
                    Cushing, Oklahoma 74023<br />
                    Phone: +1.918.225.0346<br />
                    Fax: +1.918.225.1113<br />
                    <a href="mailto:support@dcainc.com">support@dcainc.com</a><br />
                    <a href="http://www.dcainc.com/support/online">Immediate Online Assistance</a>
                </p>
            </div>
            <div id="box3" class="column2">
                <h2>
                    Dektec</h2>
                <p>
                    1455 Dixon Ave., suite#120<br />
                    Lafayette, CO 80026<br />
                    United States
                    <br />
                    303-717-3517 (tel)<br />
                    303-717-3517 (fax)<br />
                    <a href="mailto:infousa@dektec.com">infousa@dektec.com</a>
                </p>
            </div>
            <div style="clear: both;">
                &nbsp;</div>
        </div>
    </div>
</div>
