@{
    this.ViewBag.Title = "Mark Stewart - Experience";
    this.Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Experience</h1>
            <h2>
                YP formerly AT&amp;T Advertising Solutions, Tulsa, OK</h2>
            <p>
                April 2012 - Present</p>
            <p>
                Advertising Consultant </p>
            <p>
                Responsible for selling print and internet advertising solutions. </p>
            <h3>
                Achievements </h3>
            <ul>
                <li>Grew the average customers advertising program 13.7%</li>
                <li>Increased internet sales 23.45%</li>
                <li>Top 25 largest direct mail sale in the southwest</li>
            </ul>
            <h2>
                Digimetrics, DCA, Inc, Cushing, OK </h2>
            <p>
                2009 – April 2012 </p>
            <p>
                Test and measurement software development company for the broadcasting, post production,
                and archive facilities. </p>
            <p>
                Digital Media Solutions Sales Director, Americas</p>
            <p>
                Lead sales operations. Present online and in-person product demonstrations. Manager
                over 7 software and hardware resellers. Build relationships with top executives.
                Close sales with Fortune 500 companies. Attend national and international trade
                shows. Forecast monthly and yearly budgets. Perform market research. Network through
                cold calling. </p>
            <h3>
                Achievements </h3>
            <ul>
                <li>Top worldwide salesmen for two years </li>
                <li>Boosted sales by over half million dollars within first two years </li>
                <li>Gained more than one client a month for the first 24 months </li>
                <li>Grew client contact database from 5 to over 1,000 </li>
            </ul>
            <h2>
                White Peacock Productions, Stillwater, OK </h2>
            <p>
                2005 – 2009 </p>
            <p>
                Advertising agency creating marketing campaigns for print, online, radio and television.
            </p>
            <p>
                Advertising Sales Director </p>
            <p>
                Account manager for 100 advertising clients. Sold magazine advertising, online advertising,
                and website design. Managed 5 graphic designers and photographers creating advertising
                campaigns. Responsible for design and presentation of full advertising campaigns
                to clients. </p>
            <h3>
                Achievements </h3>
            <ul>
                <li>Increased sales by over 70% in the first four months of employment </li>
                <li>Maintained over 90% client retention rate </li>
                <li>Doubled sales revenue for 2006</li>
                <li>Grew sales by over 50% for 2007 </li>
            </ul>
            <h1>
                Business Development</h1>
            <h2>
                Digify LLC, Dallas, TX </h2>
            <p>
                2011 – Present </p>
            <p>
                President, Master Distributor </p>
            <p>
                Founded Digify LLC offering sales and master distributorship services reaching post
                production, cable, satellite, telecommunication and broadcasting clients around
                the world. Current clients include Digimetrics Software Solutions (
                <a href="http://www.digi-metrics.com">www.digi-metrics.com</a>)
                and DekTec Hardware Solutions (
                <a href="http://www.dektec.com">www.dektec.com</a>). </p>
            <h3>
                Achievements </h3>
            <ul>
                <li>Negotiated international master distributorship agreements </li>
                <li>Closed seven distributor contracts for Digimetrics in the first year</li>
            </ul>
        </div>        
    </div>
</div>
