@{
    ViewBag.Title = "Digify - Products &amp; Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Products &amp; Services</h1>
            <p>
                <img src="@Url.Content("~/Content/images/digimetrics.png")" alt="Digimetrics" /><br />
                <a href="http://www.digi-metrics.com">www.digi-metrics.com</a></p>
            <h2>
                Aurora</h2>
            <p>
                Aurora tests your File-Based audio and video content for quality control assurance.
            </p>
            <p>
                Aurora is capable to provide a level of trust to your content.
            </p>
            <p>
                Offering Complete audio and video Metadata quality control tests specific for:
            </p>
            <ul>
                <li>Container Tests - Transport, Program Stream, GXF, MXF</li>
                <li>Codec Tests - MPEG-2, H.264/AVC, H.264/MVC, VC-1, Dolby AC-3, Dolby E</li>
                <li>Ancillary Data Tests - CEA-608, CEA-708, SCTE20, ATSC53, SCTE35 and DVB Subtitles</li>
                <li>Broadcast and Distribution Constraints - NTSC, PAL, ATSC (A/53, A/85), DVB-T (TR
                    101 290), ISDB-T (ARIB B-10), CableLabs TV (SCTE54), CableLabs VOD (SCTE-VOD-CEP2.0-I03),
                    XDCAM (RDD-9), AS-02 (AMWA), DVD and Blu-ray.</li>
                <li>User-defined limits - container metadata (including checking for specific codec
                    and ancillary data); video stream metadata (including time, size and color information);
                    audio stream metadata (including Dolby metadata). If it exists in the metadata,
                    Aurora likely already allows you to build a test around it.</li>
            </ul>
            <h2>
                Full Codec & Container Support</h2>
            <ul>
                <li>Video Codecs - H.264/AVC, MPEG-2, VC-1, H.264/MVC, AVC Intra, IMX 30/40/50 (D10),
                    Apple ProRes, Avid DNxHD, Cineform, DV, DVCPro 25/50/100, JPEG2000, Motion JPEG,
                    Flash VP-6/7, Baseband RGB/YUV/HUFF, H.263/+, MPEG-4 Pt. 2</li>
                <li>Audio Codecs - PCM (WAV/BWF/AES), AC-3/Dolby Digital, EAC-3/Dolby Digital Plus,
                    MLP/Dolby TrueHD, Dolby E, AAC, HE-AAC, DTS, DTS-HD/Master Audio, MPEG-1, MPEG-2/L-1-2-2,
                    AIFF, WMA Standard, WMA Pro</li>
                <li>Containers - Transport, Program, MXF, MOV, AVI, FLV, WMV/ASF, MP4, 3GPP, GXF, LXF
                    (referenced essence for MXF and MOV)</li>
            </ul>
            <p>
                Easy to integrate with any Workflow - Aurora was built with automated workflows
                in mind, so all Aurora processes are built around our web-services API (a WSDL-based
                SOAP API), allowing for easy integration into any workflow, whether in-house or
                off-the-shelf. Includes native hot folder monitoring, making you instantly productive
                from day one. E-mail notifications are also built-in.
            </p>
            <h2>
                Hydra Player</h2>
            <p>
                <a href="http://www.dcainc.com/products/hydra/">Hydra</a> is the universal player
                for all file-based media decoded by Digimetrics audio and video quality control
                software Aurora. It is Frame-accurate, with metadata reference, showing the captions
                and subtitles.
            </p>
            <p>
                Hydra can be sold separately or at a discount with the purchase of the Aurora audio
                and video quality control software.
            </p>
            <ul>
                <li>Demonstration & Evaluation – Contact <a href="mailto:mark@digifysales.com">mark@digifysales.com</a>
                    or call 940-455-2934.</li>
            </ul>
            <h2>
                DekTec</h2>
            <p>
                <a href="http://www.dektec.com/">DekTec</a> manufactures digital-video interface
                adapters and associated software for the professional broadcast markets.
            </p>
            <p>
                <img src="@Url.Content("~/Content/images/dts2144.png")" alt="DTS-2144" />
            </p>
            <h2>
                DTS-2144</h2>
            <p>
                The DTS – 2144 Integrates with the Digimetrics Hydra player to push the content
                to a television.
            </p>
            <h2>
                Overview
            </h2>
            <p>
                Supports DVB-ASI and full-frame SDI
            </p>
            <p>
                Fully flexible port configuration
            </p>
            <p>
                PCI Express x4 for ample bandwidth
            </p>
            <h3>
                APPLICATIONS</h3>
            <ul>
                <li>Transport-stream multiplexing</li>
                <li>Monitoring of multiple MPEG-2 transport streams and/or SDI serial digital video
                    streams</li>
                <li>Universal ASI/SDI input/output adapter for PC-based applications that record, play
                    and/or process ASI or SDI</li>
            </ul>
            <h3>
                FEATURES</h3>
            <ul>
                <li>Four BNC ports with individual status LEDs</li>
                <li>Each port is independently configurable as a bi-directional DVB-ASI transport-stream
                    port or a bi-directional serial digital video (SDI) port</li>
                <li>Cable equalisation and inverted ASI</li>
                <li>Hardware counters for bitrate measurement and statistics</li>
                <li>Flexible receive modes with time-stamping, packet sequence counting and false-sync
                    pass through for full TR 101 290 support</li>
                <li>10-bit SDI, full stream @@ 270 Mbit/s</li>
                <li>Lossless SDI Huffman encoding / decoding for reduction of bus bandwidth</li>
                <li>PCI Express x4 (Rev 1.1)</li>
                <li>Free drivers and SDK (DTAPI) for Linux, Windows XP/2k3/Vista and .NET</li>
                <li>Example source code for stream player and stream recorder</li>
            </ul>
            <p>
                Demonstration &amp; Evaluation – Contact <a href="mailto:mark@digifysales.com">mark@digifysales.com</a>
                or call 940-455-2934.
            </p>
        </div>
    </div>
</div>
