@{
    ViewBag.Title = "Mark Stewart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Mark Stewart</h1>
            <img src="@Url.Content("~/content/images/MarkStewart.jpg")" alt="" width="74" height="111" class="left" />
            <p>
                Determined and self motivated Sales Consultant with 7+ years of experience in driving
                sales growth and business development.</p>
            <p>
                Winning salesman with a proven success record serving Fortune 500 companies as clients
                in national and international markets.</p>
            <p>
                Specialized skills in selling print and online advertising.</p>
            <p>
                Proven success in the software industry closing 90% of potential clients.</p>
            <p>
                Assisted in launching a multimillion dollar business unit for DCA Inc. </p>
        </div>
        <div class="hr1">
            &nbsp;</div>
        <!-- end #box1 -->
        <div class="two-columns">
            <div id="box2" class="column1">
                <h2>
                    Education</h2>                    
                <p>
                    Bachelor of Science in Marketing, School of Business, Oklahoma State University, Stillwater, OK
                </p>
            </div>
            <!-- end #box2.column1 -->
            <div id="box3" class="column2">
                <h2>
                    Former Clients and Accounts</h2>
                <ul>
                    <li>CBS</li>
                    <li>ABC</li>
                    <li>Turner Broadcasting/CNN</li>
                    <li>NBCUniversal</li>
                    <li>Walt Disney Pictures</li>
                    <li>Technicolor</li>
                    <li>Sony Pictures</li>
                    <li>Verizon FiOS</li>
                    <li>Rogers Communications</li>
                    <li>Shaw Communications</li>
                    <li>Motorola</li>
                    <li>Discovery Communications</li>
                </ul>
                <p>
                    @Html.ActionLink("Professional Experience", "Index", "Experience")
                </p>
            </div>
            <!-- end #box3.column2 -->
            <div style="clear: both;">
                &nbsp;</div>
        </div>
        <!-- end .two-columns -->
    </div>
</div>
