@{
    ViewBag.Title = "Digify - Return Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Return Policy</h1>
            <p>
                If you have been asked to return an item to us please follow the following instructions
                - PACKAGING: Please clearly mark RMA# on the outside of the packaging. Damage or
                loss of goods during shipment is the sole responsibility of the customer. Products
                must be returned in their original carton or in packaging of equal or greater quality.
                Appropriate care must be taken to protect the products from further damage or the
                warranty will be invalidated. Do not use paper as filler unless the unit is sufficiently
                wrapped, since they do not provide enough protection. Please ensure that any circuitry
                is wrapped in an appropriate anti-static bag. Digify is not liable for any accessories
                shipped with the unit.
            </p>
            <p>
                PRODUCT: Please ship only the product specified on the original RMA request, do
                not include any additional item(s). Any additional item(s) will require a new RMA
                number.
            </p>
            <p>
                SHIPPING COST: The customer is responsible for the cost of shipment to Digify and
                Digify will be responsible for the cost of return shipment to the customer.
            </p>
            <p>
                SHIP TO:<br />
                Digify LLC<br />
                P.O Box 271331<br />
                Flower Mound TX, 75027
            </p>
            <p>
                Notes: If units are not returned within 15 days the RMA will be invalid. Items shipped
                back without a valid RMA number may be rejected.
            </p>
            <p>
                ADVANCED REPLACEMENT: If Digify issues an advanced replacement for a product an
                invoice will be raised for that product if it is not returned to Digify under the
                appropriate RMA within 7 days.
            </p>
            <p>
                If you have questions, please contact mark@digifysales.com or Tel: 940-455-2934.
            </p>
        </div>
    </div>
</div>
