@{
    ViewBag.Title = "Digify - Marketing Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bgtop">
    <div class="bgbtm">
        <div id="box1">
            <h1>
                Marketing Materials</h1>
            @*The design puts a line across the bottom without padding. 
                You can remove this if you add more content.*@
            <ul style="padding-bottom: 100px;">
                <li><a href="@Url.Content("~/Content/docs/Aurora3_1Brochure.pdf")">Aurora 3.1 Brochure</a></li>
                <li><a href="@Url.Content("~/Content/docs/DTA-2144Leaflet.pdf")">DTA-2144 Leaflet</a></li>
            </ul>
        </div>
    </div>
</div>
